.circle-text {
	position: relative;

	border: solid 30px $main-color;
	border-radius: 50%;

	@include square(450px);
	@include mq(md) {
		border: solid 60px $main-color;

		@include square(900px);
	}
	&__text {
		position: absolute;

		font-size: 4.8rem;

		@include center;
	}
}
