.circle-text {
	@include square(450px);
	border: solid 30px $main-color;

	border-radius: 50%;
	position: relative;
	@include mq(md) {
		@include square(900px);
		border: solid 60px $main-color;
	}
	&__text {
		position: absolute;
		@include center;
		font-size: 4.8rem;
	}
}
