.circle {
	// mix-blend-mode: difference;
	border-radius: 50%;
	position: absolute;
	z-index: 0;
	&--circle {
		background: $main-color;
	}
	&--border {
		border: 50px solid $main-color;
	}
	&--white {
		border: 50px solid white;
	}
	// Each Circle
	&:nth-child(1) {
		@include square(calc(4 / 10 * 750px));
		left: calc(4 / 10 * -117px);
		top: calc(4 / 10 * 156px);
		@include mq(md) {
			@include square(750px);
			left: -117px;
			top: 156px;
		}
	}
	&:nth-child(2) {
		@include square(calc(4 / 10 * 573px));
		left: calc(4 / 10 * 821px);
		top: calc(4 / 10 * 333px);
		@include mq(md) {
			@include square(573px);
			left: 821px;
			top: 333px;
		}
	}
	&:nth-child(3) {
		@include square(calc(4 / 10 * 200px));
		left: calc(4 / 10 * 514px);
		top: calc(4 / 10 * 997px);
		@include mq(md) {
			@include square(200px);
			left: 514px;
			top: 997px;
			border: 20px solid $main-color;
		}
	}
	&:nth-child(4) {
		@include square(calc(4 / 10 * 150px));
		left: calc(4 / 10 * 871px);
		top: calc(4 / 10 * 1097px);
		@include mq(md) {
			@include square(150px);
			left: 871px;
			top: 1097px;
			border: 20px solid $main-color;
		}
	}
	&:nth-child(5) {
		@include square(calc(4 / 10 * 350px));
		left: calc(4 / 10 * 748px);
		top: calc(4 / 10 * 1447px);
		@include mq(md) {
			@include square(350px);
			left: 748px;
			top: 1447px;
			border: 40px solid $main-color;
		}
	}
	&:nth-child(6) {
		@include square(calc(4 / 10 * 600px));
		left: calc(4 / 10 * 1351.66px);
		top: calc(4 / 10 * 2423.17px);
		@include mq(md) {
			@include square(600px);
			left: 1351.66px;
			top: 2423.17px;
		}
	}
	&:nth-child(7) {
		@include square(calc(4 / 10 * 350px));
		left: calc(4 / 10 * 754px);
		top: calc(4 / 10 * 2952px);
		@include mq(md) {
			@include square(350px);
			left: 754px;
			top: 2952px;
			border: 30px solid $main-color;
		}
	}

	&:nth-child(8) {
		@include square(calc(4 / 10 * 900px));
		left: calc(4 / 10 * 639px);
		top: calc(4 / 10 * 3320px);
		@include mq(md) {
			@include square(900px);
			left: 639px;
			top: 3320px;
		}
	}

	&:nth-child(9) {
		@include square(calc(4 / 10 * 300px));
		left: calc(4 / 10 * 39px);
		top: calc(4 / 10 * 4900px);
		@include mq(md) {
			@include square(300px);
			left: 39px;
			top: 4900px;
			border: 20px solid $main-color;
		}
	}

	&:nth-child(10) {
		@include square(calc(4 / 10 * 300px));
		left: calc(4 / 10 * 339px);
		top: calc(4 / 10 * 5692px);
		@include mq(md) {
			@include square(300px);
			left: 339px;
			top: 5692px;
			border: 20px solid $main-color;
		}
	}

	//circle
	&:nth-child(11) {
		@include square(calc(4 / 10 * 700px));
		left: calc(4 / 10 * 647px);
		top: calc(4 / 10 * -75px);
		@include mq(md) {
			@include square(700px);
			left: 647px;
			top: -75px;
		}
	}
	&:nth-child(12) {
		@include square(calc(4 / 10 * 100px));
		left: calc(4 / 10 * 1054px);
		top: calc(4 / 10 * 1323px);
		@include mq(md) {
			@include square(100px);
			left: 1054px;
			top: 1323px;
		}
	}

	&:nth-child(13) {
		@include square(calc(4 / 10 * 150px));
		left: calc(4 / 10 * 966px);
		top: calc(4 / 10 * 2639px);
		@include mq(md) {
			@include square(150px);
			left: 966px;
			top: 2639px;
		}
	}
	&:nth-child(14) {
		@include square(calc(4 / 10 * 740px));
		left: calc(4 / 10 * 710px);
		top: calc(4 / 10 * 4514px);
		@include mq(md) {
			@include square(740px);
			left: 710px;
			top: 4514px;
		}
	}
	&:nth-child(15) {
		@include square(calc(4 / 10 * 150px));
		left: calc(4 / 10 * 25px);
		top: calc(4 / 10 * 5376px);
		@include mq(md) {
			@include square(150px);
			left: 25px;
			top: 5376px;
		}
	}
	// white
	&:nth-child(16) {
		@include square(calc(4 / 10 * 550px));
		left: calc(4 / 10 * -157px);
		top: calc(4 / 10 * 5594px);
		@include mq(md) {
			@include square(550px);
			left: -157px;
			top: 5594px;
		}
	}

	&:nth-child(17) {
		@include square(calc(4 / 10 * 450px));
		left: calc(4 / 10 * 793px);
		top: calc(4 / 10 * 4424px);
		@include mq(md) {
			@include square(450px);
			left: 793px;
			top: 4424px;
		}
	}
}
#luxy {
	position: relative;
	height: 100%;
	width: 100%;
}
