.cursor {
	position: fixed;

	transition: 0.1s;
	transform: translate(-50%, -50%);
	pointer-events: none;

	border-radius: 50%;
	background: $main-color;

	@include square(50px);
	mix-blend-mode: difference;
}
