$icon-height: 20rem;
.link {
	display: block;

	width: 250px;

	@include mq(md) {
		width: 800px;
	}
	&__text {
		display: inline-block;

		margin-right: 30px;

		font-size: 4.8rem;
	}
	&__icon-circle {
		position: relative;

		display: inline-block;

		transform: translateY(13px);

		border-radius: 50%;
		background: $main_color;

		@include square($icon-height);
	}
	&__icon {
		position: absolute;

		color: white;

		font-size: 15rem;

		@include center;
	}
	&:hover .link__icon {
		animation: link-arrow 1s infinite;
	}
}
