$breakpoints: (
	"sm": "screen and (min-width: 400px)",
	//以上　スマホ
	"md": "screen and (min-width: 768px)",
	//タブレット
	"lg": "screen and (min-width: 1000px)",
	//PC
	"xl": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint: md) {
	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}
// 使用例
// @include mq(lg) { // 引数を省略（初期値はmdの768px）
//   color: yellow;
// }
@mixin center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin square($length) {
	width: $length;
	height: $length;
}
