// $main_color: #FFA901;
$main_color: rgba(255, 169, 1, 0.8);
$blue_900: #cfd9df;
$blue_950: #e0e9ee;
// 1000:white 000:black
$gray_100: #111111;
$gray_150: #303030;
$gray_200: #494949;
$gray_400: #606060;
$gray_700: #aaa;
$gray_800: #c4c4c4;
$gray_900: #d8d7d7;
$gray_950: #f1efef;
