.home {
	padding: 0 5px;
	.circle {
		z-index: 0;
	}
	&__title {
		position: relative;
		z-index: 1;

		margin-top: 150px;

		text-align: center;
	}
	&__header__menu {
		position: relative;
		z-index: 100;
	}
	&__sub-title1 {
		position: relative;
		z-index: 1;

		margin: 340px auto 0 0px;

		@include mq(lg) {
		}
	}

	&__sub-title2 {
		position: relative;
		z-index: 1;

		margin-top: 50px;

		@extend .home__sub-title1;
	}
	&__text1 {
		position: relative;
		z-index: 1;

		margin: 50px 0 0 0px;

		@include mq(md) {
			margin: 50px 0 0 75px;
		}
	}
	&__text2 {
		position: relative;
		z-index: 1;

		margin: 20px 0 0 0px;

		@include mq(md) {
			margin: 20px 0 0 50px;
		}
	}
	&__card1 {
		position: relative;
		z-index: 1;

		margin: 50px auto 0 0px;

		@include mq(lg) {
		}
	}
	&__card2 {
		position: relative;
		z-index: 1;

		margin: 50px 0px 0 auto;

		@include mq(lg) {
		}
	}
	&__circle-text {
		position: relative;
		z-index: 1;

		margin: 0 auto 0 -130px;
	}

	&__link {
		position: relative;
		z-index: 1;

		height: 100px;
		margin: 100px 40px 0 auto;

		@include mq(lg) {
			margin: 730px 100px 0 auto;
		}
	}
	&__circle-btn {
		position: absolute;
		z-index: 0;
		top: 3000px;
		left: -50%;

		@include mq(lg) {
			top: 6200px;
			left: -750px;
		}
	}
	&__footer {
		margin-top: 100px !important;

		@include mq(lg) {
			margin-top: 200px !important;
		}
	}
}
